
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body  {  
  background: pink;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  text-shadow: .5px .5px 0 $shadow;
  
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .75s;
}

.nav{  
  display: grid;
  padding: 0px;

  margin: 100px auto auto auto;
  /* display: inline; */
  justify-content: space-between;
  
}

ul{  
  list-style-type: none;
}

li a{ 
  padding: 20px;
  float:left;
  /* width: 100px; */
  text-align:center;
  font-size:15px;
  color:grey;
  text-decoration:none;
}

li a:hover .circle {
  position: relative;
  z-index: 1;
  top: -60px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  animation: illuminate 2s ease-out infinite;
  background: pink;
}

li i{
  height: 50px;
}

li a:hover i {
  transform: translateY(-10px);
}

li a .title{
  font-size:0px;
}

li a:hover .title {
  transform: translateY(10px);
  font-size: 15px;
  transition: .75s;
}
       
li a.title:hover{
  transform: translateY(-10px);
}

.nav li:first-child a {  
  background:pink !important;
}

.nav li:nth-child(2) a {  
  background:pink !important;
}

.nav li:nth-child(3) a {  
  background:pink !important;
}

.nav li:nth-child(4) a {  
  background:pink !important;
}

.nav li:nth-child(5) a {  
  background:pink !important;
}

.nav li:first-child:hover ~ .background {
  background: $home;
}
.nav li:nth-child(2):hover ~ .background {
  background: $twitter;
}
.nav li:nth-child(3):hover ~ .background {
  background: $codepen;
}

.nav li:nth-child(4):hover ~ .background {
  background: $github;
}

@keyframes illuminate {
  0% {
    transform: scale(.7, .7);
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  100%{
    transform: scale(1.15);
    opacity: 0;
  }
}